{% extends 'base.html' %}

{% block content %}

    <div class="row content-section">
        <div class="filter-section">
            <div class="btn-group season-dropdown float-right" role="group" aria-label="Basic example">
                <a href="#" class="btn btn-secondary active">
                    <i class="far fa-clock"></i><span class="for-desktop"> Newest</span>
                </a>
                <a href="#" class="btn btn-secondary">
                    <i class="far fa-eye"></i><span class="for-desktop"> Views</span>
                </a>
                <a href="#" class="btn btn-secondary">
                    <i class="fas fa-star-half-alt"></i><span class="for-desktop"> Rating</span>
                </a>
                <a href="#" class="btn btn-secondary">
                    <i class="fab fa-imdb"></i><span class="for-desktop"> IMdb Rating</span>
                </a>
                <a href="#" class="btn btn-secondary">
                    <i class="fas fa-sort-alpha-down"></i> <span class="for-desktop"> Title</span>
                </a>
                <a href="#" class="btn btn-secondary">
                    <i class="fas fa-calendar-alt"></i><span class="for-desktop"> Year</span>
                </a>
            </div>
            <div class="btn-group season-dropdown" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All Genres
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">All Genres</a>
                    {% for genre in genres %}
                        <a class="dropdown-item" href="#">{{ genre }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row content-section">
        <div></div>
        {% for movie in movies %}
            <a href="{% url 'movies:details' movie.slug %}" class="poster col-4 col-md-2 col-xxl-2">
                <div>
                    <img width="170" height="255" src="{{ movie.thumbnail }}" alt=""/>
                    <div></div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}